node_modules
.pnp
.pnp.js
.pnpm-store
.next
.vercel
build
cache
out
dist
dist-ssr
coverage
logs
*.log
pnpm-debug.log*
pnpm-error.log*
.env
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.pem
*.ntvs*
*.njsproj
*.sln
*.sw?
